@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
	--header-dimension: 150px;
	--gapping: 50px;
	--accent: #4361ee;
}

body, html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
	font-size: 16px;
}
* {
	box-sizing: border-box;
	flex-shrink: 0;
}

.a4wrap {
	margin: auto;
	padding: 50px;
}

.a4 {
	width: 21cm;
	height: 29.7cm;
	overflow: hidden;
	background: white;
	position: relative;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 25%);
}

a.ul {
	text-decoration: underline;
}

@media print {

	body * {
		visibility: hidden;
	}

	.a4, .a4 * {
	visibility: visible;
	}

	.a4 {
		position: absolute;
		left: 0;
		top: 0;
	}

	a {
		text-decoration: none!important;
	}

}


.align {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: var(--gapping);
	gap: var(--gapping);
}

.header {
	display: flex;
	height: var(--header-dimension);
	gap: var(--gapping);
}

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.photo-block {
	display: flex;
	height: var(--header-dimension);
	width: var(--header-dimension);
	border-radius: var(--header-dimension);
	border: 5px solid var(--accent);
	overflow: hidden;
	position: relative;
	justify-content: center;
}

.photo-block img {
	position: absolute;
	width: 80%;
	top: -30%;
}

.header-remain {
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: column;
}

.name {
	font-size: 40px;
}

.signature {
	font-size: 25px;
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.section ul {
	padding: 0 0 0 20px;
	margin: 0;
}

a {
	text-decoration: inherit;
	color: inherit;

}

a:hover {
	text-decoration: underline;
}

.main {
	gap: 20px;
}

i.fa-solid, i.fa-brands {
	margin-right: 5px;
}

.main .section .title {
	background-color: var(--accent);
	color: white;
	padding: 5px 10px;
	font-size: 20px;
}

.main .section .content {
	padding: 20px 0 0 20px;
}

.flextable {
	display: flex;
	justify-content: center;
}

.flextable > * {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

#generate {
	font-size: 14px;
	position: absolute;
	top: 0;
	opacity: 0.5;
	background: rgba(255,255,255,0.7);
	padding: 10px;
}

@media screen {
	#generate {
		display: none;
	}
}